@import "tailwindcss";
@plugin "daisyui";


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #1E2C52;
    flex-flow: row-reverse;
}

body .app {
    height: 640px;
}

.app .avatar canvas {
    width: 100%;
}